# Dependencies
**/node_modules/

# Environment files
**/.env*
.env*.local

# Expo
app/.expo/
app/dist/
app/web-build/
app/expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# TypeScript
*.tsbuildinfo

# System files
.DS_Store
*.pem